<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}John & Smith{% endblock %}</title>
        {% block stylesheets %}
			<link href="{{ url('style.css') }}" type="text/css" rel="stylesheet" />
		{% endblock %}
    </head>
    
    <body>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <div>
            <a href="{{ url("app_ticket") }}">Ticket</a>
			
			<a href="{{ url("app_home") }}">Page d'accueil</a>

            {% if is_granted('ROLE_OP') %}
            <a href="{{ url("ticket.all") }}">Tous les tickets</a>
            {%endif%}

            {% if is_granted('ROLE_DEM') %}
                <a href="{{ url("ticket.add") }}">Ajouter un ticket</a>
            {%endif%}
			
			{% if is_granted('ROLE_ADMIN') %}
                <a href="{{ url("batiment.add") }}">Ajouter un batiment</a>
				<a href="{{ url("batiment.all") }}">Voir les batiments</a>
				<a href="{{ url("poste.add") }}">Ajouter un poste</a>
				<a href="{{ url("poste.all") }}">Voir les postes</a>
            {%endif%}

            
            <a href="{{ path('user_logout') }}">Logout</a>

        </div>
        {% endif %}
        
        {% block javascripts %}{% endblock %}
    </body>
    {% block body %}
    {% endblock %}
    <footer>
        <hr/>
        &copy; Jonathan Polydoras - Yannis Ravanel - Romain Christy - Lucas Persson
    </footer>
</html>
