{% extends "base.html.twig" %}
{% block body %}
	<a href="{{ url("ticket.all") }}">All</a>
	<a href="{{ url("app_ticket") }}">Return</a>
	<a href="{{ url("app_home") }}">Home</a>
    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.releaseOn) }}
    {{ form_row(form.description) }}
    {{ form_row(form.urgence) }}
    {{ form_end(form) }}
{% endblock %}