{% extends "base.html.twig" %}
{% block body %}
        {% for ticket in tickets %}
            <div class="Ticket">
                <p>demandeur : {{ ticket.name }}</p>
                <p>date : {{ ticket.releaseOn|date }}</p>
                <p>Description : {{ ticket.description }}</p>
                <p>{{ ticket.urgence }}</p>
                
                <a onclick="return confirm('are you sure?');" href="{{ url("app_ticket_del", {"ticket":ticket.id}) }}">Delete</a>
            </div>
            
        {% else %}
                <p>No content available</p>
        {% endfor %}
{% endblock %}